.card {
    border: 1px dotted black;
    position: relative;
    height: auto;
    width: calc(100vw/3);
}

@media only screen and (max-width: 768px) {
    .card {
        width: 100vw;
    }
}


.card-main {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 8.3%;
    bottom: 0;
    background-color: #ebebeb;
}

.card-header {
	display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding-left: 7%;
    font-size: 1rem;
    margin: 0;
}

.subtitle {
	display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 7%;
    font-size: 1rem;
    margin: 0;
}