.card {
    border: 1px solid black;
    border-left: 0;
    border-top: 0;
    position: relative;
    height: auto;
    width: calc(100vw/4);
    overflow: hidden;
}

.card:hover 
.background,
.card-header,
.subtitle {
    background-color:black;
}

.card:hover{
    color:white;
}


@media only screen and (max-width: 768px) {
    .card {
        width: 100vw;
    }
}


.card-main {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 4.5vh;
    /* bottom: 0; */
    border-top: 1px solid black;
    background-color: #ebebeb;
}

.card-header,
.subtitle{
    background-color: transparent;
	display: inline-block;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: var(--font-size-small);
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.card-header {
    left: 0;
    padding-left: 7%;  
}

.subtitle {
    right: 0;
    padding-right: 7%;
}

.imagewrapper {
    position: relative;
    padding-top: 133.25%;
}

.background {
    width: 100%;
    height: 120%;
    background-color: #ebebeb;    
    transition: all 0.5s ease-in-out;
}