.card {
  border: 1px solid black;
  border-left: 0;
  border-top: 0;
  position: relative;
  height: auto;
  width: calc(100vw / 4);
  overflow: hidden;
}

.card:hover .card-main,
.card-header,
.subtitle {
  background-color: black;
}

.card:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100vw;
  }
}

.card-main {
  display: block;
  position: relative;
  height: max-content;
  /* bottom: 0; */
  /* border-top: 1px solid black; */
  padding: 0.5rem;
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}

.card-header,
.subtitle {
  background-color: transparent;
  display: block;
  position: relative;
  padding: 0 1rem;
  /* font-weight: bold; */
  font-size: var(--font-size-very-small);
  margin: 0;
  /* transition: all 0.5s ease-in-out; */
}

.card-header {
  left: 0;
  font-weight: bold;
}

.card-header-wrapper {
}

.subtitle {
  /* right: 0;
    padding-right: 7%; */
}

.imagewrapper {
  position: relative;
  padding-top: 133.25%;
}
