
.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    /* height: 13vh; */
    width: 100%;
}

.footerContainer li {
    display: block;
}

.leftContainer,
.rightContainer{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 20vh;
}

.leftContainer{
    grid-area: left;
}
.rightContainer{
    grid-area: right;
    border-left: 1px solid rgb(102, 102, 102);}

.leftContent,
.rightContent{
    padding: 20px;
}

@media only screen and (max-width: 768px){
    .footerContainer {
        display: block;
        position: relative;
        height: max-content;
    }
    .rightContainer{
        border-left: 0px solid white;
    }
}