.image{
    min-height: 100vh;
    position: relative;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    position: relative ! important;
    display: inline-block ! important;
    min-width: 0px ! important;
    width: auto ! important;
    height: 100vh ! important;
    outline: 1px solid;
    left: auto ! important;
    right: auto ! important;
}