.newsletter_header{
    color: white;
    font-size: var(--font-size-very-small);
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}
.email-group{
    left: 50%;
    bottom: 10%;
    position: absolute;
    opacity: 0;
    padding-top: 10px;
    transform: translateX(-50%);
    animation:  1s fadeIn 2s ease-in-out forwards;
    transition: all 0.5s ease-in-out;
}

.email {
    font-size: var(--font-size-very-small);
    white-space: nowrap;
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    width: fit-content;
}

.email input {
    padding: 0;
    line-height: inherit;
    color: inherit;
    border-radius: 100px;
    padding: 0% 4%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(98, 97, 97);
}

.email input[type="text"] {
    width: 200px;
}

.email input[type="submit"] {
    position: relative;
    left: 3%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
  }

  @keyframes fadeIn {
	0%{opacity: 0;}
	100%{opacity: 1;}
}