.post-wrapper {

}
.post-container {
    position: relative;
    width: 80vw;
    min-height: 54vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 14% 0;
}
.post-title {
    font-weight: bold;
    font-size: 4rem;
}
.post-content {

}
