.post-card-container{
    position: relative;
    width: 50vw;
    height: 70vh;
    overflow: hidden;
}

.black{color: black ! important}
.post-card-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10;
    opacity: 0.2;
    font-weight: bold;
    /* font-size: clamp(1rem, 8vw, 5rem); */
    transition: all 1s ease-in-out;
}
/* .post-card-container:nth-of-type(1) .post-card-title{
    opacity: 1;
} */
.post-card-container:hover .post-card-title{
    opacity: 1;
}
.post-card-container:hover::after{    
    opacity: 0.4;
}

.post-card-container::after{
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: white;
    transition: all 1s ease-in-out;
}
.post-card-image-wrapper{

}

.posts-body{
    height: max-content;
    width: 101vw;
    display: flex;
    flex-wrap: wrap;
}