.card {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    /* left: 4vw; */
}

.card_body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
}


.card_title {
    grid-area: right;
    white-space: nowrap;
    font-size: var(--font-size-very-large);
    letter-spacing: -2px;
    line-height: 7.4rem;
    font-weight: bold;
}

.right {
    color: transparent;
    -webkit-text-stroke: 1px black;
}
.right-wrapper{
    grid-area: right;
    height: 100vh;
    width: 50vw;
    overflow-y: auto;
    border-bottom: 1px solid black;
}

.image_container {
    position: relative;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    grid-area: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.image_container::-webkit-scrollbar {
    display: none;
}

.image {
    width: 100%;
    border-bottom: 1px solid black;
}

.card_text {
    grid-area: right;
    padding: 10% 0;
}


.rightContainer{
    top: 50%;
    left: 50%;
    padding: 15% 0;
    transform: translate(-50%, -50%);
    position: relative;
    min-height: 56vh;
    height: max-content;
    width: 70%;
}

.add_to_cart{
    position: relative;
    /* padding: 0 0 50% 0; */
}

.add_to_cart button{
    background-color: white;
    width: 100%;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 5vh;
    font: inherit;
    outline: inherit;
    padding: 20px;
    transition: all 0.5s ease-in-out;
}

.add_to_cart button:hover{
    color: white;
    background-color: black;
}


.TITLE {
    width: 100%;
    height: max-content;
    position: relative;
    overflow: hidden;
    position: relative;
    pointer-events: none;
}



.view-cart{
    border-top: 0 ! important;
    border-left: 0;
    border-right: 0;
}


.related-items{
    display:flex;
}

.related-items-header {
    height: 5vh;
    min-height: 40px;
    position: relative;
    border-bottom: 1px solid black;
}

.related-items-header h1 {
    transform: translate(33%, -50%);
    position: absolute;
    top: 50%;
    font-size: var(--font-size-mid);
}

@media only screen and (max-width: 768px){
    .card_body {
        display: block;
    }
    .image_container {
        height: 73vh;
    }

    .TITLE {
        width: 82vw;
        transform: translateX(-50%);
        left: 50%;
    }

    .right-wrapper{
        width: 100vw;
        height: max-content;
    }
    .image_container{
        height: 67vh;
    }
    .card{
        height: max-content;
    }
    .related-items{
        display: block;
    }
}