.card {
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  /* left: 4vw; */
}

.card_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}

.card_title {
  grid-area: right;
  white-space: nowrap;
  font-size: var(--font-size-very-large);
  letter-spacing: -2px;
  line-height: 7.4rem;
  font-weight: bold;
}

.right {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.right-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: right;
  height: 100vh;
  width: 50vw;
  border-bottom: 1px solid black;
}

.image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  grid-area: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.image_container::-webkit-scrollbar {
  display: none;
}

.image {
  width: 100%;
  border-bottom: 1px solid black;
}

.image:last-of-type {
  border-bottom: 0;
}

.card_text {
  padding: 10% 0;
}

.subtitle {
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.card_text > p {
  font-size: small;
  grid-area: right;
}

.rightContainer {
  flex: 1;
  height: 90vh;
  overflow: scroll;
}

.rightContent {
  top: 0%;
  left: 50%;
  padding: 15% 0;
  transform: translate(-50%, -0%);
  position: relative;
  /* min-height: 56vh;
    height: max-content; */
  width: 70%;
}

.add_to_cart {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.TITLE {
  display: block;
  width: 100%;
  height: max-content;
  position: relative;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

.view-cart {
  background-color: white;
  width: 100%;
  color: black;
  border-top: 1px solid black;
  min-height: 5vh;
  font: inherit;
  outline: inherit;
  padding: 20px;
  border-top: "1px solid black";
  transition: all 0.5s ease-in-out;

  border-top: 0 !important;
  border-left: 0;
  border-right: 0;
}

.view-cart:hover {
  background-color: black;
  color: white;
}

.related-items {
  display: flex;
}

.related-items-header {
  height: 5vh;
  min-height: 40px;
  position: relative;
  border-bottom: 1px solid black;
}

.related-items-header h1 {
  transform: translate(33%, -50%);
  position: absolute;
  top: 50%;
  font-size: var(--font-size-mid);
}

.add-to-cart-button {
  background-color: black;
  width: 100%;
  color: white;
  border-top: 1px solid black;
  min-height: 5vh;
  font: inherit;
  font-size: small;
  outline: inherit;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}

.add-to-cart-button:hover {
  color: white;
  /* background-color: black; */
}

.add-to-cart-button[data-error="true"] {
  background-color: red !important;
  color: white !important;
  animation: fadeIn 0.4s ease-in-out;
}

.add-to-cart-button:hover {
  background-color: rgb(37, 175, 37);
  color: white;
}

.add-to-cart-button:disabled:hover {
  background-color: rgb(220, 220, 220);
  color: black;
}

.size-chart table {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .card_body {
    display: block;
  }

  .card_text {
    padding: 0;
  }

  .image_container {
    height: 73vh;
  }

  .TITLE {
    display: none;
    transform: translateX(-50%);
    left: 50%;
  }

  .right-wrapper {
    width: 100vw;
    height: max-content;
  }
  .image_container {
    height: 67vh;
  }
  .card {
    height: max-content;
  }
  .related-items {
    display: block;
  }

  .card_title {
    font-size: 3.3rem;
    letter-spacing: 0px;
    line-height: 2.6rem;
  }
}
