.product-container {
    position: relative;
    display: flex;
    flex-flow: wrap;
    padding: 0px;
    width: 100vw;
    min-height: 80vh;
    /* left: 3vw;*/
}

.product-container img {
    width: 100% ! important;
    display: inline-block ! important;
    position: absolute ! important;
    height: 100% ! important;
    vertical-align: text-bottom;
}

.imagewrapper {
    min-height: 62vw;
    overflow: hidden;
}